.container {
    margin: 0 auto;
    max-width: 600px;
    width: 60%;
}

main,
footer,
.nav-container {
    display: block;
    max-width: 600px;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

.nav {
    box-shadow: 0 2px 2px -2px $shadow-color;
    overflow: auto;

    &-container {
        margin: 1rem auto;
        position: relative;
        text-align: center;
    }
    .logo {
        max-width: 100%;
    }

    ul {
        list-style-type: none;
        margin: 1rem 0 0;
        padding: 0;
        text-align: center;
    }

    li {
        @include transition(all .2s ease-out);
        color: $default-color;
        display: inline-block;
        opacity: .6;
        padding: 0 2rem 0 0;

        &:last-child {
            padding-right: 0;
        }

        &:hover,
        &:focus {
            opacity: 1;
        }
    }

    a {
        color: $default-color;
        font-family: $sans-serif;
    }
    .about-link {
        color: #000;
        font-weight: 800;
        font-size: 1.5em;
    }
}

footer {
    font-family: $serif-primary;
    padding: 2rem 0;
    margin: 0 auto;

    & .footer-list {
        display: flex;
        flex-direction: column;
        margin: 0 auto;    
        padding: 0;
        list-style: none;
        font-size: 1rem;
    }
    & .footer-item {
        text-align: center;
        padding: 0.5em 0;
    }
    & .footer-item:not(.copyright) {
        color: #000;
        font-weight: 900;
    }
    & .copyright {
        color: $default-color;
    }
    & .copyright-name {
        font-size: 1em;
        font-weight: 900;
        color: $default-color;
    }
    & .footer-item:hover {
        color: $blue;
    }
    @media screen and (min-width: 530px) {
        .footer-list {
            flex-direction: row;
            justify-content: space-around;
        }
        .footer-item:not(.copyright) {
            border-bottom: 5px solid #333;
            padding: 0;
        }
        .footer-item:hover:not(.copyright) {
            padding-bottom: .3em;
            border-color: $blue;
            transition: .1s ease-in-out;
        }
        
    }
}

@media screen and (min-width: 600px) {
    .nav {
        &-container {
            text-align: left;
            display: flex;
        }
        .logo {
            max-width: 50%;
            margin-bottom: .7em;
        }

        ul {
            bottom: 0;
            position: absolute;
            right: 0;
        }
    }
}
