.page-wrapper {
    display: flex;
    flex-direction: column; //justify-content: space-around;
    //justify-content: space-between;
    overflow-x: hidden;
}

.container {
    //margin: 0 auto;
    max-width: 600px;
    width: 60%;
}

main,
.nav-container,
.footer-list,
.newsletter-container {
    max-width: 600px;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

.nav {
    box-shadow: 0 2px 2px -2px $shadow-color;
    overflow: auto;

    &-container {
        margin: 1rem auto;
        position: relative;
        text-align: center;
    }
    .logo {
        max-width: 100%;
    }

    ul {
        list-style-type: none;
        margin: 1rem 0 0;
        padding: 0;
        text-align: center;
    }

    li {
        @include transition(all .2s ease-out);
        color: $default-color;
        display: inline-block;
        opacity: .6;
        padding: 0 2rem 0 0;

        &:last-child {
            padding-right: 0;
        }

        &:hover,
        &:focus {
            opacity: 1;
        }
    }

    a {
        color: $default-color;
        font-family: $sans-serif;
    }
    .about-link {
        color: #000;
        font-weight: 800;
        font-size: 1.5em;
    }
}

main {
    //padding-bottom: 10em;
}

footer {
    //position: absolute;
    font-family: $serif-primary; //padding: 2rem 0;
    //background: #ddd;
    display: flex;
    flex-direction: column;

    & .footer-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 1em;
        list-style: none;
        font-size: 1rem;
        margin-bottom: 2em;
    }
    & .footer-item {
        text-align: center;
        padding: 0.5em 0;
    }
    & .footer-item:not(.copyright) {
        color: #000;
        font-weight: 900;
        margin-bottom: 1em;
    }
    & .copyright {
        color: $default-color;
    }
    & .copyright-name {
        font-size: 1em;
        font-weight: 900;
        color: $default-color;
    }
    .footer-item:not(.copyright) {
        border-bottom: 5px solid #333;
        padding: 0;
    }
    .footer-item:hover:not(.copyright) {
        padding-bottom: .3em;
        border-color: $blue;
        transition: .1s ease-in-out;
    }
    /* @media screen and(min-width: 500px) {
        .footer-list {
            justify-content: center;
        }
        .footer-item:not(.copyright) {
            margin-right: 1em;
        }
    } */
    .newsletter-container {
        max-width: 400px;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        padding: 1em 0;
        background: #444;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 2em;
    }
    .newsletter-container * {
        align-self: center;
        padding: 0;
    }
    .newsletter-form {
        text-align: center;
    }
    .newsletter-title {
        font-size: 1.5em;
        margin: 0;
        color: #fff;
        font-family: $lato;
        text-transform: uppercase;
    }
    .newsletter-text {
        font-family: $lato;
        font-weight: 600;
        color: #ddd;
        text-align: center;
    }
    .newsletter-email,
    .newsletter-submit {
        display: inline-block;
        border-radius: 4px;
        padding: 0;
        align-self: center;
    }
    .newsletter-email {
        font-family: $serif-primary;
        text-align: center;
        font-size: .9em;
    }
    .newsletter-submit {
        font-size: .6em;
        margin-left: 1em;
        padding: 0.5em;
        border: none;
        background: #f5f5f5;
        text-transform: uppercase;
        font-weight: 600;
    }

    @media screen and (min-width: 400px) {
        .newsletter-title {
            font-size: 2.5em;
        }
        .newsletter-text {
            font-size: 1.5em;
        }
        .newsletter-submit {
            font-size: .7em;
        }
    }
}

@media screen and (min-width: 600px) {
    .nav {
        /* position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background: #ddd; */
        
        &-container {
            text-align: left;
            display: flex;
        }
        .logo {
            max-width: 50%;
            margin-bottom: .7em;
        }

        ul {
            bottom: 0;
            position: absolute;
            right: 0;
        }
    }
}
