<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <nav class="nav">
        <div class="nav-container">
            <a href="{{ site.baseurl }}/">
                <h2 class="nav-title">{{ site.title }}</h2>
            </a>
            <ul>
                <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
            </ul>
        </div>
    </nav>

    <main>
        {{ content }}
    </main>

    <footer>
        <ul class="footer-list">
            <a href="https://github.com/davide2894" target="_blank">
                <li class="footer-item github">Github</li>
            </a>
            <a href="https://www.linkedin.com/in/davideiaiunese/" target="_blank">
                <li class="footer-item linkedin">Linkedin</li>
            </a>
            <a href="mailto:davide.iaiunese@gmail.com" target="_blank">
                <li class="footer-item email">Email</li>
            </a>
            <a href="https://twitter.com/davideiaiunese" target="_blank">
                <li class="footer-item twitter">Twitter</li>
            </a>
            <li class="footer-item copyright">
                &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time>
                <span class="copyright-name">{{ site.author.name }}</span>
            </li>
        </ul>
        </span>

    </footer>
</body>

</html>
